@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the size of the div element that contains the map */


